*{
    box-sizing: border-box;
}


body{
    background-color: #f6f0eb;
font-family: 'Poppins', sans-serif;
margin: 0;

/* overflow-x: hidden; */
}

.main-content{
    overflow-x: hidden;
    height: 100vh;
    scroll-behavior: smooth;
}

a{
    text-decoration-line: none;
    color: inherit;
}
header{
    background-color: white;
    padding: 24px ;
 
    /* max-width:1290px ; */
}

.header-content{
    max-width:1290px ;
    display: flex;
    align-items: center;
    justify-content: space-between;
   
    margin: 0 auto;
}

nav{
    display: flex;
    

    /* gap: 60px; */
}

nav a{
    font-weight: 700;
    font-size: 20px;
    color:#492118 ;
}
nav a+a{
    margin-left: 60px;
   
}

.logo {
    width: 50px;

}

img{
    width: 100%;
}

main{
    padding: 0 24px;
    
}

.hero-section{
     
    margin-top: 100px;
}

.img-container{
    max-width:1290px ;
    margin: 0 auto;
}
.hero-section p{
    color: #492118;
    text-align: center;
    font-size: 24px;

}

.section{
    margin-top: 120px;
}

.section .img-container{
    max-width: 890px;
}
.section h2{
    font-weight: 700;
    font-size: 48px;
    color: #492118;
    text-align: center;

}


.go-to-top{
    color: #492118;
    font-weight:700;
    text-align: right;
    max-width: 890px;
    font-size: 32px;
    margin: 0 auto;
    margin-top: 80px;
    /* margin-right: 500px; */

}
.go-to-top a{
    text-decoration-line: underline;
}
footer p{
    text-align: center;
    color: #858585;
    font-size: 24px;
    
    margin-top: 80px;
}

.close-icon{
    position: absolute;
    top: 8px;
    right: 12px;
    cursor: pointer;
    display: none;
    
}


.hamburger-menu-container{
    overflow: hidden;
    position: relative;
    height: 40px;
    width: 40px;
    cursor: pointer;
    display: none;
   
}
.hamburger-menu{
    height: 100px;
    width: 100px;

    background-color: white;
    border-radius: 50%; 
     position: absolute;
    top:-64px;
    right: -58px;
    cursor: pointer;
   

}



.hamburger-icon{
    font-size:16px ;
    position: absolute;
    bottom: 10px;
    left: 20px;


}

@media(max-width:1200px){
    nav a{
       
        font-size: 16px;
       
    }
    nav a+a{
        margin-left: 48px;
       
    }

    header{
        padding: 16px 24px;
       
    }
}

@media(max-width:960px){
    nav a{
       
        font-size: 12px;
       
    }
    nav a+a{
        margin-left: 32px;

       
    }

    .hero-section{
        margin-top:32px ;

    }
    .section{
        margin-top: 42px;
    }
    .hero-section p{
        font-size: 10px;
    }

    .section h2{
        font-size: 14px;
    }
}

@media(max-width:768px){
    header{
        background-color: #f6f0ebb7;
        backdrop-filter: blur(8px);
        position: sticky;
        top: 0;
        padding: 8px 24px;
        
    }
    nav {
       
        position: absolute;
       background-color: rgba(255, 255, 255, 0.9);
       flex-direction: column;
       right: -200px;
       top: 16px;
       padding: 24px;
       transition: right 0.25s ease-in-out;
       /* display: none; */

    }
  
   
    nav a+a{
        margin: 0;
        margin-top:16px;
        
    }

    .close-icon, .hamburger-menu-container {
        display: block;

    }
    .menu-open nav{
        /* display: flex; */
        right: 24px;

    }
    .menu-open  .hamburger-menu-container {
        display: none;
    }

    .header-content{
        min-height: 40px;
    }


    .go-to-top {
        /* text-decoration-line: underline; */
        font-size: 12px;
        margin-top: 40px;
        
    }

    footer p{
        font-size: 10px;
        margin-top: 32px;
    }

    .logo{
        width: 30px;

    }
}